*.DS_Store
/build
/backend/priv

# User app build
/backend/app/static
/backend/app/app.html
/backend/app/asset-manifest.json
/backend/app/manifest.json

# Mod app build
/backend/mod/static
/backend/mod/app.html
/backend/mod/asset-manifest.json
/backend/mod/manifest.json
