/*
**  App-specific CSS
*/

div.cards-list { flex-wrap: wrap; }

div.cards-list > hr {
  width: 100%;
}

p.no-res {
  margin: 0;
  font-family: 'Arial';
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
